<div class="container mt-5">
  <div class="row">
    <div class="col-4 d-flex flex-column align-items-end">
      <div>
        <div class="mb-3">
          <img src="assets/ps-large.png">
        </div>
        <div class="mb-3">
          <img src="assets/biostat.jpg">
        </div>
        <div style="font-size: smaller; text-align: center">
          Build version: {{ commitHash }} ({{ buildTimestamp | date }})
        </div>
      </div>
    </div>
    <div class="col-8">
      <p class="mb-4">
          PS is an interactive program for performing power and sample size 
          calculations. It may be run off the internet at 
	  <a href="https://statcomp2.app.vumc.org/ps/">https://statcomp2.app.vumc.org/ps/</a> or downloaded for 
          free. This version can be used for studies with dichotomous or 
          continuous, response measures. A older version, which also 
          handles other designs may be downloaded from 
	  <a href="http://biostat.mc.vanderbilt.edu/wiki/Main/PowerSampleSize">http://biostat.mc.vanderbilt.edu/wiki/Main/PowerSampleSize</a>. Work 
          on expanding the new version to handle all of the designs from 
          the older version are in progress.
      </p>

      <p>The alternative hypothesis of interest may be specified either in 
        terms of differing means, or in terms of relative risks or odds 
        ratios. Studies with dichotomous or continuous outcomes may involve 
        either a matched or independent study design. The program can 
        determine the sample size needed to detect a specified alternative 
        hypothesis with the required power, the power with which a specific 
        alternative hypothesis can be detected with a given sample size, 
        or the specific alternative hypotheses that can be detected with 
        a given power and sample size.
      </p>

      <p>
          The PS program can produce graphs to explore the relationships 
          between power, sample size and detectable alternative hypotheses. 
          It is often helpful to hold one of these variables constant and 
          plot the other two against each other. The program can generate 
          graphs of sample size versus power for a specific alternative 
          hypothesis, sample size versus detectable alternative hypotheses 
          for a specified power, or power versus detectable alternative
           hypotheses for a specified sample size. Multiple curves can 
           be plotted on a single graphic.
      </p>
    </div>
  </div>
</div>
