svg /deep/ text.axis-label {
}

svg /deep/ text.title {
  font-weight: bold;
}

svg /deep/ path.line {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

svg /deep/ path.alt-line {
  stroke: lightblue;
  stroke-width: 1;
  fill: none;
}

svg /deep/ path.pspace-line {
  stroke: maroon;
  stroke-width: 1;
  fill: none;
}

svg /deep/ path.dist-area {
  fill: #ffcdc8;
  stroke: none;
}

svg /deep/ path.ab-line {
  stroke: black;
  stroke-width: 0.25;
  stroke-dasharray: 5, 5;
  fill: none;
}

svg /deep/ path.drop-line {
  stroke: red;
  stroke-width: 0.5;
  stroke-dasharray: 5, 5;
  fill: none;
}

svg /deep/ circle.target {
  fill: red;
  cursor: grab;
}

svg /deep/ circle.pspace-center {
  fill: darkseagreen;
}

svg /deep/ circle.pspace-target {
  fill: maroon;
}

svg /deep/ g.focus rect,
svg /deep/ g.target-info rect {
  stroke: black;
  stroke-width: 1;
  fill: white;
  fill-opacity: 0.8;
}
