<svg #plot
  [style.fontFamily]="plotOptions.fontFamily"
  [style.fontSize]="(plotOptions.fontSize * 110).toString() + '%'"
  [attr.class]="name" [attr.width]="width" [attr.height]="height">

  <rect #unit x="0" y="0" width="1em" height="1em" stroke="none" fill="none" />
  <ng-template [ngIf]="groups && modelSet">
    <defs>
      <clipPath [id]="clipPathId">
        <rect x="0" y="0" [attr.width]="innerWidth" [attr.height]="innerHeight" />
      </clipPath>
    </defs>

    <text text-anchor="middle"
      [attr.x]="innerWidth / 2 + margin" [attr.y]="innerHeight + margin" dy="2.5em">
      Parameter Space
    </text>
    <text text-anchor="middle" font-weight="bold"
      [attr.x]="innerWidth / 2 + margin" y="0" dy="2em">
      {{title}}
    </text>

    <!-- alternate groups -->
    <g *ngFor="let group of groups; let i = index"
      [attr.transform]="translate(margin, margin)">

      <path [attr.clip-path]="clipPath()" [attr.d]="group.distPath"
        [attr.fill]="palette.getColor(groups.length - i, plotOptions.paletteTheme)"
        stroke="none" opacity="0.5" />

      <path *ngFor="let path of group.mainPaths"
        [attr.clip-path]="clipPath()"
        [attr.d]="path"
        [attr.stroke]="palette.getColor(groups.length - i, plotOptions.paletteTheme)"
        [attr.stroke-width]="plotOptions.lineWidth * 3"
        fill="none" />

      <circle r="5"
        [attr.cx]="xScale(group.target)"
        [attr.cy]="yScale(0.5)"
        [attr.clip-path]="clipPath()"
        [attr.fill]="palette.getColor(groups.length - i, plotOptions.paletteTheme)" />
    </g>

    <!-- main group -->
    <g [attr.transform]="translate(margin + translateOffset, margin)">

      <path [attr.clip-path]="clipPath()" [attr.d]="mainGroup.distPath"
        [attr.fill]="palette.getColor(0, plotOptions.paletteTheme)"
        stroke="none" [attr.opacity]="targetDragging ? 0.1 : 0.5" />

      <path *ngFor="let path of mainGroup.mainPaths"
        [attr.clip-path]="clipPath()"
        [attr.d]="path"
        [attr.stroke]="palette.getColor(0, plotOptions.paletteTheme)"
        [attr.stroke-width]="plotOptions.lineWidth * 3"
        [attr.opacity]="targetDragging ? 0.1 : 0.9"
        fill="none" />

      <circle #target class="target" r="5"
        [attr.cx]="xScale(mainGroup.target)"
        [attr.cy]="yScale(0.5)"
        [attr.clip-path]="clipPath()"
        [attr.fill]="palette.getColor(0, plotOptions.paletteTheme)" />
    </g>

    <circle r="5"
      [attr.cx]="xScale(0)"
      [attr.cy]="yScale(0.5)"
      [attr.clip-path]="clipPath()"
      [attr.transform]="translate(margin, margin)"
      fill="darkseagreen" />

    <g #bottomAxis [attr.transform]="translate(margin, innerHeight + margin)"></g>
  </ng-template>
</svg>
