<svg #plot
  [style.fontFamily]="plotOptions.fontFamily == '' ? null : plotOptions.fontFamily"
  [style.fontSize]="(plotOptions.fontSize * 110).toString() + '%'"
  [attr.class]="name" (window:resize)="onResize()">

  <rect #unit x="0" y="0" width="1em" height="1em" stroke="none" fill="none" />
  <ng-template [ngIf]="groups && modelSet">
    <defs>
      <clipPath [id]="clipPathId">
        <rect x="0" y="0" [attr.width]="width" [attr.height]="height" />
      </clipPath>
    </defs>

    <text text-anchor="middle"
      [attr.x]="width / 2 + margin" [attr.y]="height + margin" dy="2.5em">
      Parameter Space
    </text>
    <text text-anchor="middle" font-weight="bold"
      [attr.x]="width / 2 + margin" y="0" dy="2em">
      {{title}}
    </text>

    <g *ngFor="let group of groups; let i = index"
      [attr.transform]="translate(margin, margin)">

      <path [attr.clip-path]="clipPath()" [attr.d]="group.distPath"
        fill="lightblue" stroke="none" />

      <path *ngFor="let path of group.mainPaths"
        [attr.clip-path]="clipPath()"
        [attr.d]="path"
        stroke="steelblue"
        [attr.stroke-width]="plotOptions.lineWidth * 3"
        fill="none" />

      <circle r="5"
        [attr.cx]="xScale(group.target)"
        [attr.cy]="yScale(0.5)"
        [attr.clip-path]="clipPath()"
        fill="steelblue" />
    </g>

    <circle r="5"
      [attr.cx]="xScale(0)"
      [attr.cy]="yScale(0.5)"
      [attr.clip-path]="clipPath()"
      [attr.transform]="translate(margin, margin)"
      fill="darkseagreen" />

    <g #bottomAxis [attr.transform]="translate(margin, height + margin)"></g>
  </ng-template>
</svg>
<canvas #canvas style="display: none"></canvas>
