<div *ngIf="project" class="grow-vert">
  <div class="form-inline justify-content-between mb-2">
    <div class="form-group">
      <label for="t-test-project-{{name}}-output" class="mr-2">Output:</label>
      <select id="t-test-project-{{name}}-output" class="form-control" name="output"
        [ngModel]="project.getOutput()" (ngModelChange)="changeOutput($event)">
        <option value="power">Power</option>
        <option value="n">Sample size</option>
        <option value="delta">Detectable alternative</option>
        <option value="nByCI">Sample size for 95% CI</option>
      </select>
    </div>

    <button type="button" class="btn btn-primary" (click)="addModel()">
      <i class="fa fa-plus-circle"></i> Add line
    </button>
  </div>

  <ul *ngIf="project.models.length > 1" class="nav nav-tabs mt-2">
    <li *ngFor="let model of project.models; index as i; trackBy: trackByIndex" class="nav-item">
      <a class="nav-link nav-model-link" [class.active]="i == project.selectedIndex"
        (click)="selectModel(i)">
        <i class="fa fa-square" [style.color]="getColor(i)"></i>
      </a>
    </li>
  </ul>

  <div *ngFor="let model of project.models; index as i" class="project-model"
    [class.active]="i == project.selectedIndex"
    [class.tab]="project.models.length > 1">
    <t-test-project-model [project]="project" [index]="i"
      (modelChanged)="onModelChanged()" (remove)="onModelRemove(i)">
    </t-test-project-model>
  </div>
</div>
