<div class="grow-vert">
  <div class="form-group">
    <label>
      Output
      <select class="form-control" name="output"
        [ngModel]="project.getOutput()" (ngModelChange)="changeOutput($event)">
        <option value="n">Sample size by Power</option>
        <option value="nByCI">Sample size by 95% CI</option>
        <option value="power">Power</option>
        <option value="delta">Detectable alternative</option>
      </select>
    </label>

    <ngb-tabset #tabset type="pills" (tabChange)="onTabChange($event)">
      <ngb-tab *ngFor="let model of project.models; index as i"
        id="t-test-project-{{name}}-model-{{i}}" [title]="i + 1">
        <ng-template ngbTabContent>
          <t-test-project-model [project]="project" [index]="i"
            (modelChanged)="onModelChanged()">
          </t-test-project-model>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="t-test-project-{{name}}-add-model">
        <ng-template ngbTabTitle><i class="fa fa-plus-circle"></i></ng-template>
        <ng-template ngbTabContent></ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
