fieldset {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

fieldset legend {
  font-size: inherit;
  font-weight: bold;
  display: table;
  width: auto;
}

.form-group {
  padding: 0 5px;
}
