.plot {
  height: 80%;
  /*min-height: 500px;*/
  position: relative;
}
.without-footer {
  height: 100%;
}

div.show-footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.output-footer {
  position: relative;
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 5px;
  /*padding: 10px 20px;*/
  /*text-align: justify;*/
  /*overflow: auto;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.output-footer ngb-tabset ::ng-deep > ul.nav {
  padding: 5px;
}

.output-footer ngb-tabset ::ng-deep > ul.nav > li.nav-item {
  margin-right: 5px;
}

.output-footer ngb-tabset ::ng-deep > ul.nav > li.nav-item > a.nav-link {
  border-color: #868e96;
  background-color: #868e96;
  color: white;
}

.output-footer ngb-tabset ::ng-deep > ul.nav > li.nav-item > a.nav-link.active {
  background-color: #007bff;
  border-color: #007bff;
}

.output-footer ngb-tabset ::ng-deep > .tab-content > .tab-pane {
  padding: 10px;
  overflow: auto;
  height: 10vh;
}

.output-footer ngb-tabset ::ng-deep span.code {
  display: inline-block;
  font-family: monospace;
  border: 1px solid #e0e0e0;
  padding: 2px;
  background-color: #d5d5d5;
}

.footer-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}
.footer-buttons i {
  margin: 0 3px;
}

.dot {
  color: red;
}
