div.slider-group {
  margin-bottom: 10px;
}
div.slider-group .label,
div.slider-group .slider,
div.slider-group .number {
  padding-top: 2ex;
}
div.slider-group input {
  width: 100%;
}
div.slider {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
div.slider input {
  display: block;
}
div.slider div.min,
div.slider div.max {
  position: absolute;
  font-size: x-small;
  top: 0;
  background-color: #ddd;
  border-radius: 1ex;
  padding: 0.5ex;
}
div.slider div.min {
  left: 0;
}
div.slider div.max {
  right: 0;
}
