<div class="overview">
  Overview
  <i class="fa fa-info-circle" aria-hidden="true"
    [ngbPopover]="overviewHelp" popoverTitle="t-test Overview"
    placement="bottom" container="body" triggers="hover"></i>
</div>
<ng-template #overviewHelp>
  <p>
    Continuous Response Measures in Two Groups -- Paired and independent
    t-tests: The approach of Dupont and Plummer (1990) is used for paired and
    independent samples.  The ratio of number of patients in the samples being
    compared may be specified by the user.  This method produces results that
    are in close agreement with those of Pearson and Hartley (1970).
  </p>
  <p>
    Each null hypothesis is tested with respect to a two-sided alternative
    hypothesis.
  </p>
</ng-template>
<form (ngSubmit)="onSubmit()" #startForm="ngForm">
  <div class="form-group">
    <label for="output">
      What do you want to know?
      <i class="fa fa-info-circle" aria-hidden="true"
        [ngbPopover]="outputHelp" popoverTitle="t-test Output"
        placement="bottom" triggers="hover">
      </i>
    </label>
    <ng-template #outputHelp>
      <h5>Sample size</h5>
      <p>
        For independent t-tests this is the number of experimental patients
        that must be studied to detect a true difference in population means
        &delta; with Type I error probability &alpha; given a standard
        deviation &sigma; and <I>m</I> controls per experimental patient.  For
        paired t-tests it is the number of pairs of patients needed to detect a
        true difference in population means &delta; with Type I error
        probability &alpha; given a standard deviation &sigma;.
      </p>

      <h5>Power</h5>
      <p>
        For independent studies it is the probability of rejecting the null
        hypothesis with Type I error probability &alpha; given the specified
        sample size, a standard deviation &sigma; and a control/experimental
        patient ratio <I>m</I> when the true difference in population means is
        &delta;.  For paired studies it is the probability of rejecting the
        null hypothesis with Type I error probability &alpha; given the
        specified sample size, a standard deviation &sigma; when the true
        difference in population means is &delta;.
      </p>

      <h5>Detectable alternative</h5>
      <p>
        A difference in population means that can be detected with the
        specified power and Type I error probability &alpha; given a standard
        deviation &sigma;, and the specified sample size.
      </p>
    </ng-template>
    <select class="form-control" id="output"
            required
            [(ngModel)]="model.output" name="output">
      <option></option>
      <option value="n">Sample size</option>
      <option value="power">Power</option>
      <option value="delta">Detectable alternative</option>
    </select>
  </div>
  <!--
  <div class="form-group" *ngIf="model.output">
    <label for="design">Paired or independent?</label>
    <select class="form-control" id="design"
            required
            [(ngModel)]="model.design" name="design">
      <option></option>
      <option>Paired</option>
      <option>Independent</option>
    </select>
  </div>
  -->
  <div *ngIf="model.output">
    <div class="form-group">
      <label for="alpha">
        Type I Error (&alpha;)
        <i class="fa fa-info-circle" aria-hidden="true"
          [ngbPopover]="alphaHelp" popoverTitle="Type I Error (&alpha;)"
          placement="right" triggers="hover"></i>
      </label>
      <ng-template #alphaHelp>
        The Type I error probability for a two sided test. This is the
        probability that we will falsely reject the null hypothesis.
      </ng-template>
      <input class="form-control" id="alpha"
             type="number" step="0.01"
             required
             [(ngModel)]="model.alpha" name="alpha">
    </div>
    <div class="form-group">
      <label for="sigma">
        Standard deviation (&sigma;)
        <i class="fa fa-info-circle" aria-hidden="true"
          [ngbPopover]="sigmaHelp" popoverTitle="Standard deviation (&sigma;)"
          placement="right" triggers="hover"></i>
      </label>
      <ng-template #sigmaHelp>
        For independent tests σ is the within group standard deviation. For
        paired designs it is the standard deviation of difference in the
        response of matched pairs.
      </ng-template>
      <input class="form-control" id="sigma"
             type="number" step="0.1"
             required
             [(ngModel)]="model.sigma" name="sigma">
    </div>
    <div *ngIf="model.output != 'power'" class="form-group">
      <label for="power">
        Power
        <i class="fa fa-info-circle" aria-hidden="true"
          [ngbPopover]="powerHelp" popoverTitle="Power"
          placement="right" triggers="hover"></i>
      </label>
      <ng-template #powerHelp>
        For independent tests power is probability of correctly rejecting the
        null hypothesis of equal population means given n experimental
        patients, m control patients per experimental patient, a Type I error
        probability α and a true difference in population means of δ. For
        paired tests it is the probability of correctly rejecting the null
        hypothesis of equal population means given n pairs of patients, a Type
        I error probability α and a true difference in population means of δ.
      </ng-template>
      <input class="form-control" id="power"
             type="number" step="0.01"
             required
             [(ngModel)]="model.power" name="power">
    </div>
    <div *ngIf="model.output != 'delta'" class="form-group">
      <label for="delta">Difference in population means (&delta;)</label>
      <input class="form-control" id="delta"
             type="number" step="0.1"
             required
             [(ngModel)]="model.delta" name="delta">
    </div>
    <div *ngIf="model.output != 'n'" class="form-group">
      <label for="n">
        Sample size
        <i class="fa fa-info-circle" aria-hidden="true"
          [ngbPopover]="nHelp" popoverTitle="Sample size"
          placement="right" triggers="hover"></i>
      </label>
      <ng-template #nHelp>
        For independent t-tests n is the number of experimental subjects. For
        pair test n is the number of pairs.
      </ng-template>
      <input class="form-control" id="n"
             type="number"
             required
             [(ngModel)]="model.n" name="n">
    </div>
    <button type="submit" class="btn btn-success"
            [disabled]="!startForm.form.valid">
      Calculate
    </button>
  </div>
</form>
