<form (ngSubmit)="onSubmit()" #startForm="ngForm">
  <div class="form-group">
    <label for="output">What do you want to know?</label>
    <select class="form-control" id="output"
            required
            [(ngModel)]="model.output" name="output">
      <option></option>
      <option value="sampleSize">Sample size</option>
      <option value="power">Power</option>
      <option value="delta">Detectable alternative</option>
    </select>
  </div>
  <!--
  <div class="form-group" *ngIf="model.output">
    <label for="design">Paired or independent?</label>
    <select class="form-control" id="design"
            required
            [(ngModel)]="model.design" name="design">
      <option></option>
      <option>Paired</option>
      <option>Independent</option>
    </select>
  </div>
  -->
  <div *ngIf="model.output">
    <div class="form-group">
      <label for="alpha">Type I Error (&alpha;)</label>
      <input class="form-control" id="alpha"
             type="number" step="0.01"
             required
             [(ngModel)]="model.alpha" name="alpha">
    </div>
    <div class="form-group">
      <label for="sigma">Standard deviation (&sigma;)</label>
      <input class="form-control" id="sigma"
             type="number" step="0.1"
             required
             [(ngModel)]="model.sigma" name="sigma">
    </div>
    <div *ngIf="model.output != 'power'" class="form-group">
      <label for="power">Power</label>
      <input class="form-control" id="power"
             type="number" step="0.01"
             required
             [(ngModel)]="model.power" name="power">
    </div>
    <div *ngIf="model.output != 'delta'" class="form-group">
      <label for="delta">Difference in population means (&delta;)</label>
      <input class="form-control" id="delta"
             type="number"
             required
             [(ngModel)]="model.delta" name="delta">
    </div>
    <div *ngIf="model.output != 'sampleSize'" class="form-group">
      <label for="sampleSize">Sample size</label>
      <input class="form-control" id="sampleSize"
             type="number"
             required
             [(ngModel)]="model.sampleSize" name="sampleSize">
    </div>
    <button type="submit" class="btn btn-success"
            [disabled]="!startForm.form.valid">
      Calculate
    </button>
  </div>
</form>
