<svg #plot
  [style.fontFamily]="plotOptions.getFontFamily()"
  style.fontSize="{{plotOptions.getFontSize()}}px"
  [attr.class]="name" [attr.width]="fixedWidth" [attr.height]="fixedHeight">

  <ng-template [ngIf]="x && y && project">
    <text text-anchor="middle"
      [attr.x]="innerWidth / 2 + leftMargin"
      [attr.y]="height">
      {{x.title}}
    </text>
    <text text-anchor="middle"
      [attr.x]="-(innerHeight / 2 + topMargin)"
      [attr.y]="(plotOptions.getFontSize() / 2) + 8"
      transform="rotate(-90)">
      {{y.title}}
    </text>
    <text text-anchor="middle" font-weight="bold"
      [attr.x]="innerWidth / 2 + leftMargin"
      [attr.y]="(plotOptions.getFontSize() / 2) + 8">
      {{title}}
    </text>

    <g *ngFor="let path of paths | reverse; index as invIndex; trackBy: trackByIndex"
      [attr.transform]="translate(leftMargin, topMargin)">
      <path
        id="{{name}}-path-{{invertIndex(invIndex, paths)}}"
        [attr.stroke]="getPathColor(invIndex)"
        [attr.stroke-width]="plotOptions.getLineWidth()"
        [attr.stroke-dasharray]="getDashArray(invIndex)"
        [attr.stroke-linecap]="getLineCap(invIndex)"
        [attr.opacity]="invertIndex(i, paths) == 0 ? 1 : 0.7"
        fill="none" />
    </g>

    <g id="{{name}}-x-axis"
      [attr.transform]="translate(leftMargin, innerHeight + topMargin)"></g>
    <g id="{{name}}-y-axis"
      [attr.transform]="translate(leftMargin, topMargin)"></g>

    <rect [attr.transform]="translate(leftMargin, topMargin)"
      [attr.width]="innerWidth" [attr.height]="innerHeight"
      fill="none" pointer-events="all"
      (mouseout)="hideHoverInfo()"
      (mousemove)="hover($event)" />

    <g *ngIf="!hideTarget">
      <ng-template [ngIf]="!hideDropLines">
        <g *ngFor="let path of dropPaths; index as dpIndex; trackBy: trackByIndex"
          [attr.transform]="translate(leftMargin, topMargin)">
          <path id="{{name}}-target-drop-{{dpIndex}}"
            stroke="red"
            [attr.stroke-width]="plotOptions.getLineWidth() / 2"
            stroke-dasharray="5, 5"
            fill="none" />
        </g>
      </ng-template>
      <circle id="{{name}}-target" class="target" r="5"
        [attr.transform]="translate(leftMargin, topMargin)"
        fill="red"
        (mousemove)="hover($event, target)" />
    </g>

    <g id="{{name}}-legend" class="legend"
       *ngIf="paths.length > 1"
       [attr.transform]="translate(leftMargin + 15 + legendXOffset, topMargin + 15 + legendYOffset)"
       font-size="smaller" (dblclick)="resetLegend()">
      <path id="{{name}}-legend-box"
            fill="white" [attr.fill-opacity]="plotOptions.showLegendBox ? 0.8 : 0"
            stroke="black" [attr.stroke-opacity]="plotOptions.showLegendBox ? 1 : 0" />
      <g id="{{name}}-legend-labels">
        <g *ngFor="let path of paths; index as i; trackBy: trackByIndex"
           [attr.transform]="translate(5, 20 * plotOptions.fontSize * i)">
          <path
            d="m0,0 l45,0"
            [attr.stroke]="getPathColor(i)"
            [attr.stroke-width]="plotOptions.getLineWidth()"
            [attr.stroke-dasharray]="getDashArray(i)"
            [attr.stroke-linecap]="getLineCap(i)"
            fill="none" />
          <text x="50" y="5">{{legendLabel(i)}}</text>
        </g>
      </g>
    </g>

    <g *ngIf="isHoverInfoActive()"
      [attr.transform]="translate(leftMargin + hoverX, topMargin + hoverY)">
      <circle *ngIf="!isHoverInfoTarget()" r="4" fill="none" stroke="blue" />
      <path id="{{name}}-hover-info"
        stroke="black" stroke-width="1" fill="white" fill-opacity="0.8" />
      <text id="{{name}}-hover-coords" y="-2.5em" font-family="monospace" text-anchor="middle">
        <tspan style="white-space: pre">{{x.sym}}: {{hoverPoint.x | formatFixed:[hoverPoint.y]}}</tspan><tspan x="0" dy="1em" style="white-space: pre">{{y.sym}}: {{hoverPoint.y | formatFixed:[hoverPoint.x]}}</tspan>
      </text>
    </g>
  </ng-template>
</svg>
