@if (project.models.length > 1) {
  <div class="form-inline justify-content-between mb-2">
    <div class="form-group">
      <label for="t-test-project-{{name}}-model-{{index}}-name" class="mr-2">Name:</label>
      <input id="t-test-project-{{name}}-model-{{index}}-name" class="form-control"
        name="name" type="text" [(ngModel)]="model.name" />
    </div>
    <button type="button" class="btn btn-secondary"
      (click)="onRemoveButtonClicked()">
      <i class="fa fa-minus-circle"></i> Remove
    </button>
  </div>
}

<div class="grow-horiz">
  <div class="grow-vert range-slider">
    <app-range-slider name="alpha" label="Type I Error (&alpha;)"
      [min]="min.alpha" [max]="max.alpha" [step]="min.alpha"
      [hard-min]="0" [hard-min-inclusive]="false"
      [hard-max]="1" [hard-max-inclusive]="false"
      [ngModel]="model.alpha" (ngModelChange)="changeModel('alpha', $event)">
      <ng-template rsHelp>
        The Type I error probability for a two sided test. This is the
        probability that we will falsely reject the null hypothesis.
      </ng-template>
    </app-range-slider>
  </div>
</div>

<div class="grow-horiz">
  <div class="grow-vert range-slider">
    <app-range-slider name="sigma" label="Std. deviation (&sigma;)"
      [min]="min.sigma" [max]="max.sigma" step="0.1"
      [hard-min]="1"
      [ngModel]="model.sigma | round:1" (ngModelChange)="changeModel('sigma', $event)">
      <ng-template rsHelp>
        For independent tests σ is the within group standard deviation. For
        paired designs it is the standard deviation of difference in the
        response of matched pairs.
      </ng-template>
    </app-range-slider>
  </div>
</div>

@if (model.kind == 'ind') {
  <div class="grow-horiz">
    <div class="grow-vert range-slider">
      <app-range-slider name="m" label="Ratio of control/experimental subjects"
        [min]="min.m" [max]="max.m" [hard-min]="0.01"
        [ngModel]="model.m | round" (ngModelChange)="changeModel('m', $event)">
      </app-range-slider>
    </div>
  </div>
}

@if (!isOutput('nByCI')) {
  <div class="grow-horiz" [class.output]="isOutput('delta')">
    <div class="grow-vert range-slider">
      <app-range-slider name="delta" label="Difference in population means (&delta;)"
        [min]="min.delta" [max]="max.delta" step="0.1"
        [is-output]="model.output == 'delta'" [help-tpl]="deltaHelp"
        [ngModel]="model.delta | round:1" (ngModelChange)="changeModel('delta', $event)">
      </app-range-slider>
    </div>
  </div>
  <div class="grow-horiz" [class.output]="isOutput('power')">
    <div class="grow-vert range-slider">
      <app-range-slider name="power" label="Power"
        [min]="min.power" [max]="max.power"
        [hard-min]="min.power" [hard-max]="max.power"
        [is-output]="model.output == 'power'" [help-tpl]="powerHelp"
        [ngModel]="model.power | round" (ngModelChange)="changeModel('power', $event)">
      </app-range-slider>
    </div>
  </div>
  <div class="grow-horiz" [class.output]="isOutput('n')">
    <div class="grow-vert range-slider">
      <app-range-slider name="n" label="Sample size"
        [min]="min.n" [max]="max.n" step="1"
        [hard-min]="1"
        [is-output]="model.output == 'n'" [help-tpl]="nHelp"
        [ngModel]="model.n | ceil" (ngModelChange)="changeModel('n', $event)">
      </app-range-slider>
      <app-range-slider name="ci" label="95% confidence interval width"
        [min]="min.ci" [max]="max.ci" step="0.1"
        [hard-min]="1"
        [is-output]="model.output == 'n'" [help-tpl]="ciHelp"
        [ngModel]="model.ci | round:1" (ngModelChange)="changeModel('ci', $event)">
      </app-range-slider>
    </div>
  </div>
} @else {
  <div class="grow-horiz">
    <div class="grow-vert range-slider">
      <app-range-slider name="ci" label="95% confidence interval width"
        [min]="min.ci" [max]="max.ci" step="0.1" [help-tpl]="ciHelp"
        [ngModel]="model.ci | round:1" (ngModelChange)="changeModel('ci', $event)">
      </app-range-slider>
    </div>
  </div>
  <div class="grow-horiz output">
    <div class="grow-vert range-slider">
      <app-range-slider name="n" label="Sample size"
        [min]="min.n" [max]="max.n" step="1"
        [hard-min]="1"
        [is-output]="true" [help-tpl]="nHelp"
        [ngModel]="model.n | ceil" (ngModelChange)="changeModel('n', $event)">
      </app-range-slider>
    </div>
  </div>
  <div class="grow-horiz order-2 alt">
    <div class="grow-vert range-slider">
      <app-range-slider name="delta" label="Difference in population means (&delta;)"
        [min]="min.delta" [max]="max.delta" step="0.1" [help-tpl]="deltaHelp"
        [ngModel]="model.delta | round:1" (ngModelChange)="changeModel('delta', $event)">
      </app-range-slider>
      <app-range-slider name="power" label="Power"
        [min]="min.power" [max]="max.power"
        [hard-min]="min.power" [hard-max]="max.power"
        [is-output]="model.output == 'power'" [help-tpl]="powerHelp"
        [ngModel]="model.power | round" (ngModelChange)="changeModel('power', $event)">
      </app-range-slider>
    </div>
  </div>
}
<ng-template #deltaHelp>
  Delta (δ) is the difference in population means under the alternative hypothesis.
</ng-template>
<ng-template #powerHelp>
  For independent tests power is probability of correctly rejecting the
  null hypothesis of equal population means given n experimental
  patients, m control patients per experimental patient, a Type I error
  probability α and a true difference in population means of δ. For
  paired tests it is the probability of correctly rejecting the null
  hypothesis of equal population means given n pairs of patients, a Type
  I error probability α and a true difference in population means of δ.
</ng-template>
<ng-template #nHelp>
  For independent t-tests n is the number of experimental subjects. For
  pair test n is the number of pairs.
</ng-template>
<ng-template #ciHelp>
  Specifying the 95% confidence interval width will automatically calculate
  the sample size parameter.
</ng-template>
