.overview {
  text-align: right;
}

.btn-secondary {
  padding: 0.3rem 0.3rem;
}

.add-remove {
  display: flex !important;
  align-items: flex-end !important;
  padding: 0 0.1rem 0.75rem 0.1rem;
  margin-left: 10px;
}

.add-remove-center {
  display: flex !important;
  align-items: center !important;
  padding: 0 0 0 0.1rem;
  margin: 2rem 0 0 1rem;
  margin-left: 10px;
  border: 1px solid #333;
  border-left: 0;
}

.output {
  order: 1;
}
.output .range-slider {
  background-color: #d8ecf3;
  border-radius: 0.5em;
}
