<div class="grow-vert">
  <div class="form-group">
    <label>
      Output
      <select class="form-control" name="output"
              [(ngModel)]="model.output">
        <option value="n">Sample size by Power</option>
        <option value="nByCI">Sample size by 95% CI</option>
        <option value="power">Power</option>
        <option value="delta">Detectable alternative</option>
      </select>
    </label>
  </div>

  <div class="grow-horiz">
    <div class="grow-vert range-slider">
      <t-test-range-slider name="alpha" label="Type I Error (&alpha;)"
        [min]="min.alpha" [max]="max.alpha"
        [hard-min]="min.alpha" [hard-max]="max.alpha"
        [ngModel]="model.alpha | round" (ngModelChange)="model.alpha = $event">
        <ng-template rsHelp>
          The Type I error probability for a two sided test. This is the
          probability that we will falsely reject the null hypothesis.
        </ng-template>
      </t-test-range-slider>
    </div>
    <div class="add-remove fa-fw" [style.color]="getColor(0)">
      <i *ngIf="canAdd('alpha')" class="fa fa-plus-circle" (click)="addInput('alpha')"
        ngbPopover="Click to add line to plot for alternate value of &quot;alpha&quot;"
        triggers="hover" container="body"></i>
    </div>
  </div>
  <ng-template [ngIf]="extraName == 'alpha'">
    <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="alpha-{{i+2}}" label="Type I Error (&alpha;) #{{i+2}}"
          [min]="min.alpha" [max]="max.alpha"
          [hard-min]="min.alpha" [hard-max]="max.alpha"
          [ngModel]="ex.alpha | round" (ngModelChange)="ex.alpha = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw" [style.color]="getColor(i+1)">
        <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
          ngbPopover="Remove line from plot for &quot;alpha&quot;"
          triggers="hover" container="body"></i>
      </div>
    </div>
  </ng-template>

  <div class="grow-horiz">
    <div class="grow-vert range-slider">
      <t-test-range-slider name="sigma" label="Std. deviation (&sigma;)"
        [min]="min.sigma" [max]="max.sigma" step="0.1"
        [hard-min]="1"
        [ngModel]="model.sigma | round:1" (ngModelChange)="model.sigma = $event">
        <ng-template rsHelp>
          For independent tests σ is the within group standard deviation. For
          paired designs it is the standard deviation of difference in the
          response of matched pairs.
        </ng-template>
      </t-test-range-slider>
    </div>
    <div class="add-remove fa-fw" [style.color]="getColor(0)">
      <i *ngIf="canAdd('sigma')" class="fa fa-plus-circle" (click)="addInput('sigma')"
        ngbPopover="Click to add line to plot for alternate value of &quot;sigma&quot;"
        triggers="hover" container="body"></i>
    </div>
  </div>
  <ng-template [ngIf]="extraName == 'sigma'">
    <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="sigma-{{i+2}}" label="Std. deviation #{{i+2}}"
          [min]="min.sigma" [max]="max.sigma" step="0.1"
          [hard-min]="1"
          [ngModel]="ex.sigma | round:1" (ngModelChange)="ex.sigma = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw" [style.color]="getColor(i+1)">
        <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
          ngbPopover="Remove line from plot for &quot;sigma&quot;"
          triggers="hover" container="body"></i>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="!isOutput('nByCI')" [ngIfElse]="nByCI">
    <div class="grow-horiz" [class.output]="isOutput('delta')">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="delta" label="Difference in population means (&delta;)"
          [min]="min.delta" [max]="max.delta" step="0.1"
          [is-output]="model.output == 'delta'" [help-tpl]="deltaHelp"
          [ngModel]="model.delta | round:1" (ngModelChange)="model.delta = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw" [style.color]="getColor(0)">
        <i *ngIf="canAdd('delta')" class="fa fa-plus-circle" (click)="addInput('delta')"
          ngbPopover="Click to add line to plot for alternate value of &quot;delta&quot;"
          triggers="hover" container="body"></i>
      </div>
    </div>
    <ng-template [ngIf]="extraName == 'delta'">
      <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
        <div class="grow-vert range-slider">
          <t-test-range-slider name="delta-{{i+2}}" label="Difference in population means (&delta;) #{{i+2}}"
            [min]="min.delta" [max]="max.delta" step="0.1"
            [ngModel]="ex.delta | round:1" (ngModelChange)="ex.delta = $event">
          </t-test-range-slider>
        </div>
        <div class="add-remove fa-fw" [style.color]="getColor(i+1)">
          <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
            ngbPopover="Remove line from plot for &quot;delta&quot;"
            triggers="hover" container="body"></i>
        </div>
      </div>
    </ng-template>

    <div class="grow-horiz" [class.output]="isOutput('power')">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="power" label="Power"
          [min]="min.power" [max]="max.power"
          [hard-min]="min.power" [hard-max]="max.power"
          [is-output]="model.output == 'power'" [help-tpl]="powerHelp"
          [ngModel]="model.power | round" (ngModelChange)="model.power = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw" [style.color]="getColor(0)">
        <i *ngIf="canAdd('power')" class="fa fa-plus-circle" (click)="addInput('power')"
          ngbPopover="Click to add line to plot for alternate value of &quot;power&quot;"
          triggers="hover" container="body"></i>
      </div>
    </div>
    <ng-template [ngIf]="extraName == 'power'">
      <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
        <div class="grow-vert range-slider">
          <t-test-range-slider name="power-{{i+2}}" label="Power #{{i+2}}"
            [min]="min.power" [max]="max.power"
            [hard-min]="min.power" [hard-max]="max.power"
            [ngModel]="ex.power | round" (ngModelChange)="ex.power = $event">
          </t-test-range-slider>
        </div>
        <div class="add-remove fa-fw" [style.color]="getColor(i+1)">
          <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
            ngbPopover="Remove line from plot for &quot;power&quot;"
            triggers="hover" container="body"></i>
        </div>
      </div>
    </ng-template>

    <div class="grow-horiz" [class.output]="isOutput('n')">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="n" label="Sample size"
          [min]="min.n" [max]="max.n" step="1"
          [hard-min]="1"
          [is-output]="model.output == 'n'" [help-tpl]="nHelp"
          [ngModel]="model.n | ceil" (ngModelChange)="model.n = $event">
        </t-test-range-slider>
        <t-test-range-slider name="ci" label="95% confidence interval width"
          [min]="min.ci" [max]="max.ci" step="0.1"
          [hard-min]="1"
          [is-output]="model.output == 'n'" [help-tpl]="ciHelp"
          [ngModel]="model.ci | round:1" (ngModelChange)="model.ci = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove-center fa-fw" [style.color]="getColor(0)">
        <i *ngIf="canAdd('n')" class="fa fa-plus-circle" (click)="addInput('n')"
          ngbPopover="Click to add line to plot for alternate value of &quot;n&quot; or 95% confidence interval width"
          triggers="hover" container="body"></i>
      </div>
    </div>
    <ng-template [ngIf]="extraName == 'n'">
      <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
        <div class="grow-vert range-slider">
          <t-test-range-slider name="n-{{i+2}}" label="Sample size #{{i+2}}"
            [min]="min.n" [max]="max.n" step="1"
            [hard-min]="1"
            [ngModel]="ex.n | ceil" (ngModelChange)="ex.n = $event">
          </t-test-range-slider>
          <t-test-range-slider name="ci-{{i+2}}" label="95% confidence interval width #{{i+2}}"
            [min]="min.ci" [max]="max.ci" step="0.1"
            [hard-min]="1"
            [ngModel]="ex.ci | round:1" (ngModelChange)="ex.ci = $event">
          </t-test-range-slider>
        </div>
        <div class="add-remove-center fa-fw" [style.color]="getColor(i+1)">
          <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
            ngbPopover="Remove line from plot for &quot;n&quot; and 95% confidence interval width"
            triggers="hover" container="body"></i>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #nByCI>
    <div class="grow-horiz">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="ci" label="95% confidence interval width"
          [min]="min.ci" [max]="max.ci" step="0.1" [help-tpl]="ciHelp"
          [ngModel]="model.ci | round:1" (ngModelChange)="model.ci = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw" [style.color]="getColor(0)">
        <i *ngIf="canAdd('ci')" class="fa fa-plus-circle" (click)="addInput('ci')"
          ngbPopover="Click to add line to plot for alternate value of &quot;ci&quot;"
          triggers="hover" container="body"></i>
      </div>
    </div>
    <ng-template [ngIf]="extraName == 'ci'">
      <div class="grow-horiz" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
        <div class="grow-vert range-slider">
          <t-test-range-slider name="ci-{{i+2}}" label="95% confidence interval width #{{i+2}}"
            [min]="min.ci" [max]="max.ci" step="0.1"
            [hard-min]="1"
            [ngModel]="ex.ci | round:1" (ngModelChange)="ex.ci = $event">
          </t-test-range-slider>
        </div>
        <div class="add-remove fa-fw" [style.color]="getColor(i+1)">
          <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
            ngbPopover="Remove line from plot for &quot;ci&quot;"
            triggers="hover" container="body"></i>
        </div>
      </div>
    </ng-template>

    <div class="grow-horiz output">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="n" label="Sample size"
          [min]="min.n" [max]="max.n" step="1"
          [hard-min]="1"
          [is-output]="true" [help-tpl]="nHelp"
          [ngModel]="model.n | ceil" (ngModelChange)="model.n = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove fa-fw">
      </div>
    </div>

    <div class="grow-horiz order-2">
      <div class="grow-vert range-slider">
        <t-test-range-slider name="delta" label="Difference in population means (&delta;)"
          [min]="min.delta" [max]="max.delta" step="0.1" [help-tpl]="deltaHelp"
          [ngModel]="model.delta | round:1" (ngModelChange)="model.delta = $event">
        </t-test-range-slider>

        <t-test-range-slider name="power" label="Power"
          [min]="min.power" [max]="max.power"
          [hard-min]="min.power" [hard-max]="max.power"
          [is-output]="model.output == 'power'" [help-tpl]="powerHelp"
          [ngModel]="model.power | round" (ngModelChange)="model.power = $event">
        </t-test-range-slider>
      </div>
      <div class="add-remove-center fa-fw" [style.color]="getColor(0)">
        <i *ngIf="canAdd('n')" class="fa fa-plus-circle" (click)="addInput('power')"
          ngbPopover="Click to add line to plot for alternate value of &quot;n&quot; or 95% confidence interval width"
          triggers="hover" container="body"></i>
      </div>
    </div>
    <ng-template [ngIf]="extraName == 'power'">
      <div class="grow-horiz order-2" *ngFor="let ex of extraModels; let i = index; trackBy: trackByExtra">
        <div class="grow-vert">
          <t-test-range-slider name="delta-{{i+2}}" label="Difference in population means #{{i+2}}"
            [min]="min.delta" [max]="max.delta" step="0.1"
            [ngModel]="ex.delta | round:1" (ngModelChange)="ex.delta = $event">
          </t-test-range-slider>

          <t-test-range-slider name="power-{{i+2}}" label="Power #{{i+2}}"
            [min]="min.power" [max]="max.power"
            [hard-min]="min.power" [hard-max]="max.power"
            [ngModel]="ex.power | round" (ngModelChange)="ex.power = $event">
          </t-test-range-slider>
        </div>
        <div class="add-remove-center fa-fw" [style.color]="getColor(i+1)">
          <i class="fa fa-minus-circle" (click)="removeInput(i+1)"
            ngbPopover="Remove line from plot for &quot;delta&quot; and &quot;power&quot;"
            triggers="hover" container="body"></i>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<ng-template #deltaHelp>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam enim nunc,
  rutrum at ligula id, tempor tincidunt nunc.
</ng-template>
<ng-template #powerHelp>
  For independent tests power is probability of correctly rejecting the
  null hypothesis of equal population means given n experimental
  patients, m control patients per experimental patient, a Type I error
  probability α and a true difference in population means of δ. For
  paired tests it is the probability of correctly rejecting the null
  hypothesis of equal population means given n pairs of patients, a Type
  I error probability α and a true difference in population means of δ.
</ng-template>
<ng-template #nHelp>
  For independent t-tests n is the number of experimental subjects. For
  pair test n is the number of pairs.
</ng-template>
<ng-template #ciHelp>
  Specifying the 95% confidence interval width will automatically calculate
  the sample size parameter.
</ng-template>
