<div class="slider-group">
  <ng-template [ngIf]="labelTpl" [ngIfElse]="standardLabel">
    <ng-template [ngTemplateOutlet]="labelTpl"></ng-template>
  </ng-template>
  <ng-template #standardLabel>
    <div class="label" *ngIf="label">
      {{label}}
      <span *ngIf="isOutput">(Computed value)</span>
      <ng-template [ngIf]="helpTpl">
        <i class="fa fa-info-circle" aria-hidden="true"
          [ngbPopover]="rsHelp" popoverTitle="{{label}}"
          placement="right" triggers="hover" container="body"></i>
        <ng-template #rsHelp>
          <ng-template [ngTemplateOutlet]="helpTpl"></ng-template>
        </ng-template>
      </ng-template>
    </div>
  </ng-template>
  <div class="inputs row">
    <div class="col-sm-9">
      <div class="slider">
        <div class="min">{{floor(min)}}</div>
        <input #range name="{{name}}" type="range" step="{{step}}"
               min="{{min}}" max="{{max}}"
               [value]="value"
               [disabled]="isOutput"
               (change)="rangeChanged(range.value)"
               (input)="rangeInput(range.value)" />
        <div class="max">{{ceil(max)}}</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="number">
        <input #number [class.error]="hasError" name="{{name}}" type="number"
               step="{{step}}" [min]="hardMin" [max]="hardMax" [value]="value"
               [disabled]="isOutput"
               (change)="numberChanged(number.value)"
               (input)="numberInput(number.value)"
               (blur)="blurred()"
               [ngbPopover]="errorMsg" triggers="manual"
               container="body" #errorPopover="ngbPopover" />
        <ng-template #errorMsg>
          <span class="error">Value is out of range ({{hardMin}}, {{hardMax}}).</span><br/>
          Current value: {{value}}
        </ng-template>
      </div>
    </div>
  </div>
</div>
