<div id="output-pane-plots" class="plot" [class.without-footer]="!showFooter">
  @if (updatingPlots) {
    <div @overlay id="output-pane-overlay">
      <div class="aligner-top"></div>
      <div class="loader"></div>
      <div class="aligner-bottom"></div>
    </div>
  }
  <app-line-plot #topLeft name="top-left"
    [handler]="linePlotHandler"
    [hover-disabled]="hoverDisabled"
    (modelChanged)="onModelChanged()">
  </app-line-plot>
  <app-line-plot #topRight name="top-right"
    [handler]="linePlotHandler"
    [hover-disabled]="hoverDisabled"
    (modelChanged)="onModelChanged()">
  </app-line-plot>
  <app-ci-plot #bottom name="bottom"
    [handler]="ciPlotHandler"
    [disable-drag-target]="disableDragCITarget"
    [disable-drag-ci]="disableDragCIBounds"
    (modelChanged)="onModelChanged()">
  </app-ci-plot>
  @if (project && !showFooter) {
    <div class="show-footer">
      <button type="button" class="btn btn-secondary" (click)="toggleFooter(true)">
        <i class="fa fa-envelope-open-o" aria-hidden="true" title="Show footer"></i>
        Interpretation / Log
      </button>
    </div>
  }
</div>
@if (project && showFooter) {
  <div id="output-pane-footer" class="output-footer">
    <div class="footer-buttons">
      <button type="button" (click)="copyFooter()" title="Copy to clipboard">
        <i class="fa fa-clipboard"></i>
      </button>
      <button type="button" (click)="toggleFooter(false)" title="Hide footer">
        <i class="fa fa-window-minimize"></i>
      </button>
    </div>
    <ngb-tabset #footerTabset type="pills">
      <ngb-tab id="output-pane-interpretation">
        <ng-template ngbTabTitle>
          @if (project.getModelCount() > 1) {
            <i class="fa fa-square"
            [style.color]="getIndicatorColor()"></i>
          }
          Interpretation
        </ng-template>
        <ng-template ngbTabContent>
          {{project.getModelInterpretation()}}
        </ng-template>
      </ngb-tab>
      <ngb-tab id="output-pane-log" title="Log">
        <ng-template ngbTabContent>
          @if (!project) {
            There have not been any changes yet.
          } @else {
            <ul class="log" #log>
              @for (changes of project.getChangeHistory(); track changes) {
                <li>
                  @if (changes.type == 'add') {
                    Added model {{changes.index + 1}}: <span class="code">{{ changes.params | json }}</span>
                  }
                  @if (changes.type == 'remove') {
                    Removed model {{changes.index + 1}}
                  }
                  @if (changes.type == 'change') {
                    Changed <span class="code">{{changes.key}}</span> in model {{changes.index + 1}}: <span class="code">{{changes.params | json }}</span>
                  }
                </li>
              }
            </ul>
          }
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
}
