.plot {
  height: 80%;
  min-height: 500px;
  position: relative;
}

:host /deep/ svg.top-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 75%;
}
:host /deep/ svg.top-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 75%;
}
:host /deep/ svg.bottom {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
}

.output-text {
  height: 20%;
}
.output-text div {
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
  overflow: auto;
  margin-top: 5px;
}
