<div class="plot" [class.without-text]="!showText">
  <app-plot #topLeft name="top-left"
    [modelSet]="modelSet"
    [plotOptions]="plotOptions"
    [hover-disabled]="hoverDisabled">
  </app-plot>
  <app-plot #topRight name="top-right"
    [modelSet]="modelSet"
    [plotOptions]="plotOptions"
    [hover-disabled]="hoverDisabled">
  </app-plot>
  <app-bottom-plot #bottom name="bottom"
    [modelSet]="modelSet"
    [plotOptions]="plotOptions">
  </app-bottom-plot>
  <div class="show-text" *ngIf="modelSet && !showText">
    <button type="button" class="btn btn-secondary" (click)="toggleText(true)">
      <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
      Interpretation
    </button>
  </div>
</div>
<div class="output-text" *ngIf="modelSet && showText">
  <div *ngIf="showText" class="hide-text">
    <i class="fa fa-times-circle" (click)="toggleText(false)"></i>
  </div>
  <ng-template [ngIf]="modelSet.model.output == 'n'">
    We are planning a study of a continuous response variable from matched
    pairs of study subjects. Prior data indicate that the difference in the
    response of matched pairs is normally distributed with standard deviation
    {{round(modelSet.model.sigma)}}. If the true difference in the mean response of
    matched pairs is {{round(modelSet.model.delta)}}, we will need to study
    {{ceil(modelSet.model.n)}} pairs of subjects to be able to reject the null
    hypothesis that this response difference is zero with probability (power)
    {{round(modelSet.model.power)}}. The Type I error probability associated with this
    test of this null hypothesis is {{round(modelSet.model.alpha)}}.
  </ng-template>
  <ng-template [ngIf]="modelSet.model.output == 'power'">
    We are planning a study with {{ceil(modelSet.model.n)}} pairs of subjects. Prior
    data indicate that the difference in the response of matched pairs is
    normally distributed with standard deviation {{round(modelSet.model.sigma)}}. If
    the true difference in the mean response of matched pairs is
    {{round(modelSet.model.delta)}}, we will be able to reject the null hypothesis
    that this response difference is zero with probability (power)
    {{round(modelSet.model.power)}}. The Type I error probability associated with this
    test of this null hypothesis is {{round(modelSet.model.alpha)}}.
  </ng-template>
  <ng-template [ngIf]="modelSet.model.output == 'delta'">
    We are planning a study with {{ceil(modelSet.model.n)}} pairs of subjects. Prior
    data indicate that the difference in the response of matched pairs is
    normally distributed with standard deviation {{round(modelSet.model.sigma)}}. We
    will be able to detect a true difference in the mean response of matched
    pairs of -{{round(modelSet.model.delta)}} or {{round(modelSet.model.delta)}} with
    probability (power) {{round(modelSet.model.power)}}. The Type I error probability
    associated with this test of the null hypothesis that this response
    difference is zero is {{round(modelSet.model.alpha)}}.
  </ng-template>
</div>
