/* You can add global styles to this file, and also import other style files */
.popover {
  max-width: 500px;
}

.grow {
  display: flex;
  flex: 1;
}

.grow-horiz {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grow-vert {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ngb-modal-window.export-plots .modal-dialog {
  max-width: 90vw;
  width: 90vw;
  height: 90vh;
  margin: 5vh auto;
}

ngb-modal-window.export-plots .modal-content {
  height: 100%;
  width: 100%;
}

/* Add non-encapsulated styles for ngb-tabsets */
#t-test-sidebar ngb-tabset {
  display: flex;
  flex-direction: column;
  flex: auto;
  /*width: 100%;*/
}

#t-test-sidebar ngb-tabset > ul.nav > li.nav-item > a.nav-link {
  border-color: #bbb #bbb #888;
  background-color: #eee;
}

#t-test-sidebar ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover {
  border-color: #888;
  background-color: #f5f5f5;
  color: #0275d8;
}

#t-test-sidebar ngb-tabset > ul.nav > li.nav-item > a.nav-link.active {
  border-color: #888 #888 #fff;
  background-color: #fff;
}

#t-test-sidebar ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover {
  color: #464a4c;
}

#t-test-sidebar ngb-tabset > ul.nav {
  /*display: flex;*/
  flex: 0 0 auto;
  border-bottom: 1px solid #888;
}

#t-test-sidebar ngb-tabset > .tab-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#t-test-sidebar ngb-tabset > .tab-content > .tab-pane {
  /*display: flex;*/
  /*flex-direction: column;*/
  flex: 1 0 auto;
  padding: 10px;
  border: 1px solid #888;
  border-top: 0;
  overflow: auto;
  max-height: 70vh;
}

#t-test-sidebar ngb-tabset > .tab-content > .tab-pane.active {
  background: white;
}

