/* You can add global styles to this file, and also import other style files */
.popover {
  max-width: 500px;
}

.grow {
  display: flex;
  flex: 1;
}

.grow-horiz {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.grow-vert {
  display: flex;
  flex-direction: column;
  flex: 1;
}

ngb-modal-window.export-plots .modal-dialog {
  max-width: 90vw;
  width: 90vw;
  height: 90vh;
  margin: 5vh auto;
}

ngb-modal-window.export-plots .modal-content {
  height: 100%;
  width: 100%;
}

/* Add non-encapsulated styles for ngb-tabsets */
#t-test-sidebar > ngb-tabset,
#z-test-sidebar > ngb-tabset,
#dichot-sidebar > ngb-tabset {
  display: flex;
  flex-direction: column;
  flex: auto;
  /*width: 100%;*/
}

#t-test-export-plots-modal-body ngb-tabset,
#z-test-export-plots-modal-body ngb-tabset,
#dichot-export-plots-modal-body ngb-tabset {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#t-test-output-pane-footer ngb-tabset > ul.nav,
#z-test-output-pane-footer ngb-tabset > ul.nav,
#dichot-output-pane-footer ngb-tabset > ul.nav {
  padding: 5px;
}

#t-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item,
#z-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item,
#dichot-output-pane-footer ngb-tabset > ul.nav > li.nav-item {
  margin-right: 5px;
}


#t-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#z-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#dichot-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#t-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#z-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#dichot-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link {
  border-color: #bbb #bbb #888;
  background-color: #eee;
}

#t-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#z-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link,
#dichot-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link {
  border-color: #868e96;
  background-color: #868e96;
  color: white;
}

#t-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover,
#z-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover,
#dichot-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover,
#t-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover,
#z-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover,
#dichot-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link:hover {
  border-color: #888;
  background-color: #f5f5f5;
  color: #0275d8;
}

#t-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#z-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#dichot-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#t-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#z-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#dichot-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active {
  border-color: #888 #888 #fff;
  background-color: #fff;
}

#t-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#z-test-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link.active,
#dichot-output-pane-footer ngb-tabset > ul.nav > li.nav-item > a.nav-link.active {
  background-color: #007bff;
  border-color: #007bff;
}

#t-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover,
#z-test-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover,
#dichot-sidebar > ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover,
#t-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover,
#z-test-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover,
#dichot-export-plots-modal-body ngb-tabset > ul.nav > li.nav-item > a.nav-link.active:hover {
  color: #464a4c;
}

#t-test-sidebar > ngb-tabset > ul.nav,
#z-test-sidebar > ngb-tabset > ul.nav,
#dichot-sidebar > ngb-tabset > ul.nav,
#t-test-export-plots-modal-body ngb-tabset > ul.nav,
#z-test-export-plots-modal-body ngb-tabset > ul.nav,
#dichot-export-plots-modal-body ngb-tabset > ul.nav {
  /*display: flex;*/
  flex: 0 0 auto;
  border-bottom: 1px solid #888;
}

#t-test-sidebar > ngb-tabset > .tab-content,
#z-test-sidebar > ngb-tabset > .tab-content,
#dichot-sidebar > ngb-tabset > .tab-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#t-test-export-plots-modal-body ngb-tabset > .tab-content,
#z-test-export-plots-modal-body ngb-tabset > .tab-content,
#dichot-export-plots-modal-body ngb-tabset > .tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#t-test-sidebar > ngb-tabset > .tab-content > .tab-pane,
#z-test-sidebar > ngb-tabset > .tab-content > .tab-pane,
#dichot-sidebar > ngb-tabset > .tab-content > .tab-pane {
  /*display: flex;*/
  /*flex-direction: column;*/
  flex: 1 0 auto;
  padding: 10px;
  border: 1px solid #888;
  border-top: 0;
  overflow: auto;
  max-height: 70vh;
}

#t-test-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane,
#z-test-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane,
#dichot-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane {
  border: 1px solid #888;
  border-top: 0;
  overflow: auto;
  max-height: 73vh;
}

#t-test-output-pane-footer ngb-tabset > .tab-content > .tab-pane,
#z-test-output-pane-footer ngb-tabset > .tab-content > .tab-pane,
#dichot-output-pane-footer ngb-tabset > .tab-content > .tab-pane {
  padding: 10px;
  overflow: auto;
  height: 10vh;
}

#t-test-sidebar > ngb-tabset > .tab-content > .tab-pane.active,
#z-test-sidebar > ngb-tabset > .tab-content > .tab-pane.active,
#dichot-sidebar > ngb-tabset > .tab-content > .tab-pane.active {
  background: white;
}

#t-test-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane.active,
#z-test-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane.active,
#dichot-export-plots-modal-body ngb-tabset > .tab-content > .tab-pane.active {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: white;
}

#t-test-output-pane-footer ngb-tabset span.code,
#z-test-output-pane-footer ngb-tabset span.code,
#dichot-output-pane-footer ngb-tabset span.code {
  display: inline-block;
  font-family: monospace;
  border: 1px solid #e0e0e0;
  padding: 2px;
  background-color: #d5d5d5;
}

/* Add non-encapsulated styles for plots */
#t-test-output-pane-plots svg.top-left,
#z-test-output-pane-plots svg.top-left,
#dichot-output-pane-plots svg.top-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 70%;
}
#t-test-output-pane-plots.without-footer svg.top-left,
#z-test-output-pane-plots.without-footer svg.top-left,
#dichot-output-pane-plots.without-footer svg.top-left {
  height: 68%;
}
#t-test-output-pane-plots svg.top-right,
#z-test-output-pane-plots svg.top-right,
#dichot-output-pane-plots svg.top-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
}
#t-test-output-pane-plots.without-footer svg.top-right,
#z-test-output-pane-plots.without-footer svg.top-right,
#dichot-output-pane-plots.without-footer svg.top-right {
  height: 68%;
}
#t-test-output-pane-plots svg.bottom,
#z-test-output-pane-plots svg.bottom,
#dichot-output-pane-plots svg.bottom {
  position: absolute;
  top: 72%;
  height: 28%;
  width: 100%;
}
#t-test-output-pane-plots.without-footer svg.bottom,
#z-test-output-pane-plots.without-footer svg.bottom,
#dichot-output-pane-plots.without-footer svg.bottom {
  top: 70%;
  height: 26%;
}
