<div id="z-test" class="d-flex flex-column h-100"
  [class.block-selection]="blockSelection" (mouseup)="onMouseUp()">

  <div id="z-test-main" class="row d-flex" style="flex: 1 0 auto">
    <div class="col-4 d-flex flex-column justify-content-between">
      <div id="z-test-sidebar" class="d-flex flex-row" style="flex: auto">
        <div class="overview">
          <button type="button" class="btn btn-secondary" (click)="toggleHelp('overview')">
            Overview <i class="fa fa-question-circle"></i>
          </button>
        </div>
        <ngb-tabset #tabset (tabChange)="onTabChange($event)">
          <ngb-tab title="Start" id="z-test-start">
            <ng-template ngbTabContent>
              <z-test-start [model]="newModel"
                (onCalculate)="calculate()"
                (onToggleHelp)="toggleHelp('start')">
              </z-test-start>
            </ng-template>
          </ngb-tab>
          <ngb-tab *ngFor="let project of projects; let i = index"
            title="Z-Test #{{i+1}}" id="z-test-{{i+1}}">
            <ng-template ngbTabContent>
              <z-test-project name="{{i}}" [project]="project"
                (projectChanged)="onProjectChanged()">
              </z-test-project>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

      <div id="z-test-footer" class="d-flex flex-column">
        <img src="assets/biostat.jpg">
        <div class="build">
          Build version: {{ commitHash }} ({{ buildTimestamp | date }})
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="plot-buttons" *ngIf="selectedProject">
        <button class="btn btn-secondary" (click)="togglePlotOptions()" title="Toggle plot options">
          <i class="fa fa-cog"></i>
        </button>
        <button class="btn btn-secondary" (click)="save()" title="Export plots">
          <i class="fa fa-floppy-o"></i>
        </button>
        <button class="btn btn-secondary" (click)="toggleHoverBox()" title="Toggle hover box">
          <i class="fa" [class.fa-cubes]="hoverBoxEnabled" [class.fa-cube]="!hoverBoxEnabled"></i>
        </button>
      </div>
      <z-test-output-pane #outputPane
        [project]="selectedProject"
        [hover-disabled]="!hoverBoxEnabled"
        (modelChanged)="onModelChanged()">
      </z-test-output-pane>
    </div>
  </div>
  <z-test-draggable-dialog #helpDialog
    [title]="helpTitles[helpTopic]"
    start-x-offset="33%" start-y-offset="55px"
    (drag-start)="onChildDragStarted()"
    (drag-end)="onChildDragEnded()">
    <z-test-help [topic]="helpTopic"></z-test-help>
  </z-test-draggable-dialog>
  <z-test-draggable-dialog #plotOptionsDialog
    title="Plot options"
    start-x-offset="5%" start-y-offset="55px"
    (drag-start)="onChildDragStarted()"
    (drag-end)="onChildDragEnded()">
    <z-test-plot-options [project]="selectedProject"
      (optionChanged)="onPlotOptionChanged()"
      (projectChanged)="onProjectChangedFromPlotOptions()"
      (reset)="onPlotOptionsReset()">
    </z-test-plot-options>
  </z-test-draggable-dialog>
</div>
