<div id="app" class="container-fluid">
  <div id="header" class="row">
    <div class="col-sm-8 title">
      <img src="assets/ps.jpg">
      <span>Power and Sample Size Calculation</span>
    </div>
    <div class="col-sm-4 logo">
      <img src="assets/vu02a.jpg">
    </div>
  </div>

  <div id="main" class="row">
    <div class="col-sm-4">
      <div id="sidebar">
        <ngb-tabset #tabsetChild (tabChange)="onTabChange($event)">
          <ngb-tab title="Start" id="start">
            <template ngbTabContent>
              <app-start [model]="newModel"
                (onCalculate)="calculate()"
                (onToggleHelp)="toggleHelp()">
              </app-start>
            </template>
          </ngb-tab>
          <ngb-tab *ngFor="let modelSet of modelSets; let i = index"
            title="Test {{i+1}}" id="test-{{i+1}}">
            <template ngbTabContent>
              <app-t-test [modelSet]="modelSet" (onToggleHelp)="toggleHelp()">
              </app-t-test>
            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <app-plot-options #plotOptionsChild
        [selectedModelSet]="selectedModelSet"
        [plotOptions]="plotOptions">
      </app-plot-options>
    </div>
    <div id="right-panel" class="col-sm-8">
      <app-help *ngIf="helpOpen" (onClose)="closeHelp()"></app-help>
      <button id="plot-options-button" class="btn btn-secondary"
        (click)="togglePlotOptions()" *ngIf="plotOptionsAvailable">
        <i class="fa fa-cog"></i>
      </button>
      <app-output-pane
        [selectedModelSet]="selectedModelSet"
        [plotOptions]="plotOptions">
      </app-output-pane>
    </div>
  </div>
</div>
