#app {
  height: 95vh;
}

#header {
  line-height: 7vh;
  height: 7vh;
}
#header div.title span {
  font-size: 4vh;
}
#header div.title img {
  height: 4vh;
  vertical-align: text-bottom;
}
#header div.logo {
  text-align: right;
}
#header div.logo img {
  vertical-align: middle;
  height: 4vh;
}

#main {
  height: 85vh;
}

#sidebar {
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

#plot {
  min-height: 100%;
}

#plot-options-button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: large;
  z-index: 99;
}

:host /deep/ a.nav-link {
  border-color: #bbb #bbb #888;
  background-color: #eee;
}

:host /deep/ a.nav-link:hover {
  border-color: #888;
  background-color: #f5f5f5;
  color: #0275d8;
}

:host /deep/ a.nav-link.active {
  border-color: #888 #888 #fff;
}

:host /deep/ a.nav-link.active:hover {
  background-color: #fff;
  color: #464a4c;
}

:host /deep/ ul.nav-tabs {
  border-bottom: 1px solid #888;
}

:host /deep/ .tab-pane {
  padding: 10px;
  border: 1px solid #888;
  border-top: 0;
}

:host /deep/ .tab-pane.active {
  background: white;
}
