fieldset {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

fieldset legend {
  font-size: inherit;
  font-weight: bold;
  display: table;
  width: auto;
}

h4 {
  font-size: inherit;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  margin: 1em 0;
  padding-bottom: 0.2em;
}

div.disabled {
  opacity: 0.5;
}

.form-group {
  padding: 0 5px;
}
