.plot {
  height: 80%;
  /*min-height: 500px;*/
  position: relative;
}
.without-footer {
  height: 100%;
}

div.show-footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.plot /deep/ svg.top-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 70%;
}
.plot.without-footer /deep/ svg.top-left {
  height: 68%;
}
.plot /deep/ svg.top-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
}
.plot.without-footer /deep/ svg.top-right {
  height: 68%;
}
.plot /deep/ svg.bottom {
  position: absolute;
  top: 70%;
  height: 30%;
  width: 100%;
}
.plot.without-footer /deep/ svg.bottom {
  top: 68%;
  height: 28%;
}

.output-footer {
  position: relative;
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 5px;
  /*padding: 10px 20px;*/
  /*text-align: justify;*/
  /*overflow: auto;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.output-footer /deep/ a.nav-link {
  /*border-color: #bbb #bbb #888;*/
  /*background-color: #eee;*/
  border-color: #868e96;
  background-color: #868e96;
  color: white;
}

.output-footer /deep/ a.nav-link:hover {
  /*border-color: #888;*/
  /*background-color: #f5f5f5;*/
  /*color: #0275d8;*/
}

.output-footer /deep/ a.nav-link.active {
  /*border-color: #888 #888 #fff;*/
  /*background-color: #fff;*/
  background-color: #007bff;
  border-color: #007bff;
}

.output-footer /deep/ a.nav-link.active:hover {
  /*color: #464a4c;*/
}

.output-footer /deep/ ngb-tabset {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex: auto;*/
  /*width: 100%;*/
}

.output-footer /deep/ ul.nav-pills {
  /*display: flex;*/
  /*flex: 0 0 auto;*/
  /*border-bottom: 1px solid #888;*/
  padding: 5px;
}

.output-footer /deep/ li.nav-item {
  margin-right: 5px;
}

.output-footer /deep/ .tab-content {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex: 1 0 auto;*/
}

.output-footer /deep/ .tab-pane {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex: 1 0 auto;*/
  padding: 10px;
  text-align: justify;
  /*border: 1px solid #888;*/
  /*border-top: 0;*/
  overflow: auto;
  height: 10vh;
}

.output-footer /deep/ .tab-pane.active {
  /*background: white;*/
}

.output-footer /deep/ span.code {
  display: inline-block;
  font-family: monospace;
  border: 1px solid #e0e0e0;
  padding: 2px;
  background-color: #d5d5d5;
}

.hide-footer {
  position: absolute;
  top: 0;
  right: 5px;
}
