<div class="plot" [class.without-footer]="!showFooter">
  <t-test-plot #topLeft name="top-left"
    [model-set]="modelSet"
    [hover-disabled]="hoverDisabled">
  </t-test-plot>
  <t-test-plot #topRight name="top-right"
    [model-set]="modelSet"
    [hover-disabled]="hoverDisabled">
  </t-test-plot>
  <t-test-bottom-plot #bottom name="bottom"
    [model-set]="modelSet"
    [disable-drag-target]="model?.output == 'delta'"
    [disable-drag-ci]="model?.output == 'n'">
  </t-test-bottom-plot>
  <div class="show-footer" *ngIf="modelSet && !showFooter">
    <button type="button" class="btn btn-secondary" (click)="toggleFooter(true)">
      <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
      Interpretation / Log
    </button>
  </div>
</div>
<div class="output-footer" *ngIf="modelSet && showFooter">
  <div class="footer-buttons">
    <i class="fa fa-clipboard" (click)="copyFooter()"></i>
    <i class="fa fa-times-circle" (click)="toggleFooter(false)"></i>
  </div>
  <ngb-tabset #footerTabset type="pills">
    <ngb-tab id="t-test-interpretation" title="Interpretation">
      <ng-template ngbTabContent>
        {{model.interpretation()}}
      </ng-template>
    </ngb-tab>
    <ngb-tab id="t-test-log" title="Log">
      <ng-template ngbTabContent>
        <ng-template [ngIf]="model.changeHistory.length == 0" [ngIfElse]="changeHistory">
          There have been no changes yet.
        </ng-template>
        <ng-template #changeHistory>
          <ul class="log">
            <li *ngFor="let changes of model.changeHistory"
              [innerHTML]="describeChanges(changes)">
            </li>
          </ul>
        </ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
