.plot {
  height: 80%;
  /*min-height: 500px;*/
  position: relative;
}
.without-footer {
  height: 100%;
}

div.show-footer {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.plot /deep/ svg.top-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 70%;
}
.plot.without-footer /deep/ svg.top-left {
  height: 68%;
}
.plot /deep/ svg.top-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 70%;
}
.plot.without-footer /deep/ svg.top-right {
  height: 68%;
}
.plot /deep/ svg.bottom {
  position: absolute;
  top: 72%;
  height: 28%;
  width: 100%;
}
.plot.without-footer /deep/ svg.bottom {
  top: 70%;
  height: 26%;
}

.output-footer {
  position: relative;
  background-color: #e5e5e5;
  border: 1px solid #aaa;
  border-radius: 5px;
  /*padding: 10px 20px;*/
  /*text-align: justify;*/
  /*overflow: auto;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}
.footer-buttons i {
  margin: 0 3px;
}

.dot {
  color: red;
}
