.overview {
  text-align: right;
}

.btn-secondary {
  padding: 0.3rem 0.3rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
