.overview {
  text-align: right;
}

.btn-secondary {
  padding: 0.3rem 0.3rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.form-controls {
  padding: 5px;
  overflow: auto;
  /* size of tab pane minus room for calculate button */
  max-height: calc(70vh - 80px);
}

.calculate-button {
  padding-top: 10px;
  border-top: 2px solid #888;
}
