:host {
  display: flex;
  flex: 1;
  flex-direction: row;
}

div.slider-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
}

div.slider-group .label span {
  font-weight: bold;
}

div.slider-group .slider,
div.slider-group .number {
  padding-top: 2ex;
}
div.slider-group .add-remove {
  padding-top: 2.3ex;
}

div.slider-group div.inputs input {
  width: 100%;
}

div.slider-group div.slider {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

div.slider-group div.slider input {
  display: block;
}

div.slider-group div.slider div.min,
div.slider-group div.slider div.max {
  position: absolute;
  font-size: x-small;
  top: 0;
  background-color: #ddd;
  border-radius: 1ex;
  padding: 0.5ex;
}

div.slider-group.output div.slider div.min,
div.slider-group.output div.slider div.max {
  background-color: #ccc;
}

div.slider-group div.slider div.min {
  left: 0;
}

div.slider-group div.slider div.max {
  right: 0;
}

.fa {
  opacity: 0.7;
}
.fa:hover {
  opacity: 1;
}
.dot {
  color: red;
  opacity: 1;
}

.palette-color .fa {
  opacity: 1;
}

span.error {
  color: red;
}

input.error {
  border: 2px solid red;
  color: red;
}
