@if (project) {
  <div class="grow-vert">
    @if (project.getMatched() == 'matched') {
      <p>
        Matched / {{project.describeCase()}}
      </p>
    }
    @if (project.getMatched() == 'independent') {
      <p>
        Independent / {{project.describeCase()}} / {{project.describeExpressed()}} /
        {{project.describeMethod()}}
      </p>
    }
    <div class="form-inline justify-content-between mb-2">
      <div class="form-group">
        <label for="dichot-project-{{name}}-output" class="mr-2">Output:</label>
        <select id="dichot-project-{{name}}-output" class="form-control" name="output"
          [ngModel]="project.getOutput()" (ngModelChange)="changeOutput($event)">
          <option value="power">Power</option>
          <option value="sampleSize">Sample size</option>
          <option value="detAlt">Detectable alternative</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" (click)="addModel()">
        <i class="fa fa-plus-circle"></i> Add line
      </button>
    </div>
    @if (project.models.length > 1) {
      <ul class="nav nav-tabs mt-2">
        @for (model of project.models; track trackByIndex(i, model); let i = $index) {
          <li class="nav-item">
            <a class="nav-link nav-model-link" [class.active]="i == project.selectedIndex"
              (click)="selectModel(i)">
              <i class="fa fa-square" [style.color]="getColor(i)"></i>
            </a>
          </li>
        }
      </ul>
    }
    @for (model of project.models; track model; let i = $index) {
      <div class="project-model"
        [class.active]="i == project.selectedIndex"
        [class.tab]="project.models.length > 1">
        <dichot-project-model [project]="project" [index]="i"
          (modelChanged)="onModelChanged()" (remove)="onModelRemove(i)">
        </dichot-project-model>
      </div>
    }
  </div>
}
